# Series

In [55]:
import pandas as pd

data = [1, 2, 3, 4, 5]

s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [56]:
index = ['Linha' + str(i) for i in range(5) ]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [57]:
s = pd.Series(data, index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [58]:
data = {'linha' + str(i): i + 1 for i in range(5)}
s = pd.Series(data)
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [59]:
s1 = s + 5
s1

linha0     6
linha1     7
linha2     8
linha3     9
linha4    10
dtype: int64

In [60]:
s2 = s + s1
s2

linha0     7
linha1     9
linha2    11
linha3    13
linha4    15
dtype: int64

# DataFrames

In [61]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [62]:
df1 = pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [63]:
index = ['linha' + str(i) for i in range(3)]
index

['linha0', 'linha1', 'linha2']

In [64]:
df1 = pd.DataFrame(data, index)
df1

        0  1  2
linha0  1  2  3
linha1  4  5  6
linha2  7  8  9

In [65]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [66]:
df1 = pd.DataFrame(data, index, columns)
df1

        Coluna0  Coluna1  Coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [80]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [68]:
data = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
df3 = pd.DataFrame(data, index, columns)
df3

        Coluna0  Coluna1  Coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

## DataFrames Union

In [69]:
df1[df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A

In [70]:
df2[df2 > 0] = 'B'
df3[df3 > 0] = 'C'

In [83]:
df4 = pd.concat([df1, df3])
df4

       Coluna0 Coluna1 Coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A
linha0       C       C       C
linha1       C       C       C
linha2       C       C       C

In [82]:
df4 = pd.concat([df1, df3], axis = 1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
linha0       A       A       A       C       C       C
linha1       A       A       A       C       C       C
linha2       A       A       A       C       C       C

In [84]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0