In [2]:
import pandas as pd

s = pd.Series(list('ariuskakdksdhk'))
s

0     a
1     r
2     i
3     u
4     s
5     k
6     a
7     k
8     d
9     k
10    s
11    d
12    h
13    k
dtype: object

In [3]:
s.unique()

array(['a', 'r', 'i', 'u', 's', 'k', 'd', 'h'], dtype=object)

In [4]:
s.value_counts()

k    4
a    2
s    2
d    2
r    1
i    1
u    1
h    1
dtype: int64

In [6]:
data = pd.read_csv('data/aluguel.csv', sep = ';')
data.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [7]:
data['Tipo'].value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

## exercicie

In [8]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [23]:
eventos = {
    'm1': list(m1), 
    'm2': list(m2),
    'm3': list(m3),
    'm4': list(m4),
    'm5': list(m5),    
}

moedas = pd.DataFrame(eventos)

df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25