In [3]:
import pandas as pd

data = [0, 5, None, None, 0.52, 0.89, 0.7, None, 0.8]

s = pd.Series(data)
s

0    0.00
1    5.00
2     NaN
3     NaN
4    0.52
5    0.89
6    0.70
7     NaN
8    0.80
dtype: float64

In [4]:
s.fillna(0)

0    0.00
1    5.00
2    0.00
3    0.00
4    0.52
5    0.89
6    0.70
7    0.00
8    0.80
dtype: float64

In [5]:
s

0    0.00
1    5.00
2     NaN
3     NaN
4    0.52
5    0.89
6    0.70
7     NaN
8    0.80
dtype: float64

In [6]:
## Filling null values with value above

s.fillna(method = 'ffill')

0    0.00
1    5.00
2    5.00
3    5.00
4    0.52
5    0.89
6    0.70
7    0.70
8    0.80
dtype: float64

In [7]:
## Filling null values with value above below

s.fillna(method = 'bfill')

0    0.00
1    5.00
2    0.52
3    0.52
4    0.52
5    0.89
6    0.70
7    0.80
8    0.80
dtype: float64

In [8]:
## Filling null values with the media  

s.fillna(s.mean())

0    0.000000
1    5.000000
2    1.318333
3    1.318333
4    0.520000
5    0.890000
6    0.700000
7    1.318333
8    0.800000
dtype: float64

In [16]:
# Limit -> limit how mutch values will be fill
s1 = s.fillna(method = 'ffill', limit = 1)
s1

0    0.00
1    5.00
2    5.00
3     NaN
4    0.52
5    0.89
6    0.70
7    0.70
8    0.80
dtype: float64

In [15]:
## Here I change two place null with two values differents

s1 = s1.fillna(method = 'bfill', limit = 1)
s1

0    0.00
1    5.00
2    5.00
3    0.52
4    0.52
5    0.89
6    0.70
7    0.70
8    0.80
dtype: float64