# Creating Courses DataFrame

In [49]:
## Installing dependencies

In [50]:
!pip3 install html5lib
!pip3 install lxml

Requirement already satisfied: html5lib in /home/gabriel-liamdev/anaconda3/lib/python3.9/site-packages (1.1)
Requirement already satisfied: webencodings in /home/gabriel-liamdev/anaconda3/lib/python3.9/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /home/gabriel-liamdev/anaconda3/lib/python3.9/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: lxml in /home/gabriel-liamdev/anaconda3/lib/python3.9/site-packages (4.8.0)

## Search courses

In [62]:
import pandas as pd

url = 'http://tabela-cursos.herokuapp.com/index.html'
courses = pd.read_html(url)
type(courses) # list
type(courses[0]) # dataframe

courses = courses[0]
courses.head()

           Nome do curso
0  Lógica de programação
1          Java para Web
2            C# para Web
3          Ruby on Rails
4       Cursos de Python

## Including id and changing index

In [63]:
courses.columns = ['courses_name']

courses['id'] = courses.index + 1

courses = courses.set_index('id')

In [65]:
courses.head()

             courses_name
id
1   Lógica de programação
2           Java para Web
3             C# para Web
4           Ruby on Rails
5        Cursos de Python

## Exporting

In [66]:
courses.to_json('data/courses.json')