## Creating sqlite database

In [38]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/gabriel-liamdev/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /home/gabriel-liamdev/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)

In [39]:
import pandas as pd
enrollments_per_course = pd.read_json('data/enrollments_per_course.json')

from sqlalchemy import create_engine, MetaData, Table, inspect # adicionando o método inspect

engine = create_engine('sqlite:///:memory:')
engine

Engine(sqlite:///:memory:)

In [40]:
type(engine)

sqlalchemy.engine.base.Engine

In [41]:
enrollments_per_course.to_sql('enrollments', engine)

18

In [42]:
inspector = inspect(engine) # is an Inspector object
print(inspector.get_table_names()) # Displaying the tables with the inspector

['enrollments']

## Creating querys

In [43]:
query = 'select * from enrollments where "number of students" < 5'

In [44]:
pd.read_sql(query, engine)

   index  number of students                         courses_name
0      2                   4                        Java para Web
1      6                   3                        PHP com MySql
2      7                   2                        .NET para web
3      9                   3                         TDD com Java
4     11                   1  Preparatório para certificação Java
5     14                   1                  Desenvolvendo jogos
6     16                   1                   Estatística básica
7     18                   2                Programação funcional
8     20                   3          Orientação objetos com Java

In [45]:
enrollments_sql = pd.read_sql_table("enrollments", engine, columns = ['courses_name', 'number of students'])

In [46]:
enrollments_with_more_then_5_students = enrollments_sql.query('`number of students` > 5')

In [47]:
enrollments_with_more_then_5_students.to_sql('courses_with_more_then_5_students', con=engine)

3

In [49]:
inspector = inspect(engine) # is an Inspector object
print(inspector.get_table_names()) # Displaying the tables with the inspector

['courses_with_more_then_5_students', 'enrollments']